/* Body */

#body {
	// background-color: blue;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	align-items: flex-start;
}

#item_container {
	display: flex;
	flex-direction: column;
	// background-color: yellow;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 13%;
}

.item {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 35%;
	background-color: #f5f5f5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	border-radius: 4px;
}

.item_header {
	position: absolute;
	display: flex;

	p {
		color: white;
		font-size: 16px;
		margin: 0;
		padding: 4px 14px 6px 8px;
		background-color: #85a99d;
		clip-path: polygon(77% 0, 88% 75%, 0 100%, 0 0);
	}
}

.item_body {
	display: flex;
	flex-grow: 1;
	background-color: rgb(221, 221, 221);
}

.itemPhoto,
.cardPhoto {
	display: block;
	width: 100%;
	height: 100%;
}

#line_container {
	// background-color: orange;
	height: 100%;
	width: 87%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
}

.line_spot {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 15%;
	// background-color: peachpuff;
	align-items: center;
	justify-content: space-evenly;
}

.line_spot_div_ai,
.line_spot_div_pl {
	display: flex;
	position: relative;
	bottom: 10px;
	background-color: blue;
	border-radius: 30px;
	width: 50%;
	height: 7%;
}

.line_spot_div_ai {
	background-color: #ed7964c0;
}

.line_spot_div_pl {
	background-color: #85a99dd3;
}

.line_card {
	display: flex;
	width: 100%;
	height: 70%;
}

.line_card:hover {
	// background-color: green;
}

#smoke {
	z-index: 3;
	width: 1px;
	height: 160px;
	position: relative;
	left: 25%;
	bottom: 5%;
}

/* smoke balls */

#smoke span {
	position: absolute;
	display: block;
	margin-left: -20px;
	height: 0px;
	width: 0px;
	border: 35px solid #3a3a3a;
	border-radius: 35px;
	opacity: 0;
	transform: scale(0.2);
}

/* Smoke animation */

@keyframes smokeL {
	0% {
		transform: scale(0.2) translate(0, 0);
	}
	10% {
		opacity: 1;
		transform: scale(0.2) translate(0, -5px);
	}
	100% {
		opacity: 0;
		transform: scale(1) translate(-20px, -130px);
	}
}

@keyframes smokeR {
	0% {
		transform: scale(0.2) translate(0, 0);
	}
	10% {
		opacity: 1;
		transform: scale(0.2) translate(0, -5px);
	}
	100% {
		opacity: 0;
		transform: scale(1) translate(20px, -130px);
	}
}

#smoke .s0 {
	animation: smokeL 10s 0s infinite;
}
#smoke .s1 {
	animation: smokeR 10s 1s infinite;
}
#smoke .s2 {
	animation: smokeL 10s 2s infinite;
}
#smoke .s3 {
	animation: smokeR 10s 3s infinite;
}
#smoke .s4 {
	animation: smokeL 10s 4s infinite;
}
#smoke .s5 {
	animation: smokeR 10s 5s infinite;
}
#smoke .s6 {
	animation: smokeL 10s 6s infinite;
}
#smoke .s7 {
	animation: smokeR 10s 7s infinite;
}
#smoke .s8 {
	animation: smokeL 10s 8s infinite;
}
#smoke .s9 {
	animation: smokeR 10s 9s infinite;
}
