/* Footer section */

#footer {
  display: flex;
  background-color: green;
  height: 30%;
  justify-content: space-between;
}

#overall_score {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15%;

  p {
    margin: 0;
    padding: 0;
  }
}

#card_container {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: indigo;
  justify-content: center;
}

.card {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f5f5f5;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.card:hover {
  z-index: 1;
  bottom: 5%;
}

.card_header {
  display: flex;
  background-color: orangered;

  p {
    margin: 0;
    padding: 4px 14px 6px 8px;
    border-bottom-right-radius: 25px;
    background-color: orange;
  }
}

.card_body {
  display: flex;
  flex-grow: 1;
  background-color: blue;
}

.card0 {
  transform: rotate(-20deg);
  bottom: -25px;
  left: 20%;
}

.card1 {
  width: 20%;
  transform: rotate(-10deg);
  bottom: -10px;
  left: 10%;
}

.card2 {
  width: 20%;
  transform: rotate(3deg);
  bottom: -5px;
}

.card3 {
  width: 20%;
  transform: rotate(10deg);
  bottom: -10px;
  left: -10%;
}

.card4 {
  width: 20%;
  transform: rotate(20deg);
  bottom: -25px;
  left: -20%;
}

.card5 {
  width: 20%;
  transform: rotate(13deg);
  bottom: -15px;
  left: -10%;
}

.card6 {
  width: 20%;
  transform: rotate(-3deg);
  bottom: -5px;
}

.extra_info {
  display: flex;
  background-color: white;
  width: 15%;
}
