/* Header */

#header {
	// background-color: red;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo {
	display: flex;
	width: 20%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;

	clip-path: polygon(
		10% 30%,
		20% 25%,
		80% 15%,
		90% 25%,
		90% 75%,
		30% 80%,
		5% 90%,
		15% 80%
	);

	img {
		display: flex;
		width: 80%;
		height: 60%;
	}
}

#game_info {
	display: flex;
	flex-direction: row;
	width: 55%;
	height: 100%;
	// background-color: indigo;
	justify-content: space-evenly;
}

#turns_left_container {
	display: flex;
	flex-direction: row;
	width: 30%;
	align-items: center;
}

#turns_left_image {
	padding-left: 20px;
	width: auto;
	height: 65%;
	clip-path: polygon(
		74% 5%,
		100% 0,
		94% 51%,
		98% 94%,
		76% 100%,
		50% 100%,
		32% 75%,
		3% 75%,
		14% 4%,
		31% 9%
	);
}

#turns_left_text {
	color: white;
	background-color: black;
	padding: 5px 10px;
	margin: 0px;
	font-size: 40px;
	transform: rotate(5deg);
	position: relative;
	left: -5%;
	z-index: -1;
}

#player_info_container,
#computer_info_container {
	display: flex;
	flex-direction: column;
	width: 35%;
	// background-color: #f5f5f5bd;
	justify-content: center;
}

#computer_info_container {
	background-color: #ed7964ce;
}

#player_info_container {
	background-color: #85a99def;
}

#player_info_container {
	clip-path: polygon(
		36% 5%,
		70% 14%,
		100% 17%,
		94% 62%,
		74% 94%,
		36% 88%,
		4% 95%,
		0 9%
	);
}

#computer_info_container {
	clip-path: polygon(
		5% 10%,
		55% 10%,
		95% 15%,
		100% 25%,
		90% 85%,
		7% 90%,
		5% 85%,
		2% 40%
	);
}

.turnScorePlayer,
.turnScoreComputer {
	font-size: 3vw;
}

.turnScorePlayer {
	background-color: whitesmoke;
	padding: 0 20px;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.turnScoreComputer {
	background-color: whitesmoke;
	padding: 5px 15px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#card {
	display: flex;
	height: 70%;
	margin: 5px;
}

#card_photo {
	display: flex;
	width: 40%;
	position: relative;
	left: 10px;
	align-items: center;
	justify-content: center;

	img {
		display: flex;

		width: 85%;
		height: 85%;
		border-radius: 100px;
	}
}

.pulse {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 3s infinite;
}

.pulsePlayer {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#card_info {
	display: flex;
	width: 60%;
	justify-content: center;
	align-self: center;
	filter: drop-shadow(-4px -8px black);
}

#lang_settings {
	display: flex;
	width: 10%;
	height: 100%;
	background-color: rgba(255, 255, 0, 0.904);
	text-align: end;
	align-items: flex-start;
	justify-content: flex-end;
	clip-path: polygon(63% 0, 90% 0, 100% 0, 100% 75%, 55% 40%, 6% 27%, 24% 0);
}

#settings_icon {
	width: 25%;
	margin: 10%;
}

#settings_icon:hover {
	animation: spin 4s infinite linear;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
