//
// Welcome screen
//

#welcome_screen {
	height: 100vh;
	background-image: url("../images/lineWelcome.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

#welcome_logo {
	clip-path: polygon(
		10% 30%,
		20% 25%,
		80% 15%,
		90% 25%,
		90% 75%,
		30% 80%,
		5% 90%,
		15% 80%
	);
	display: flex;
	background-color: whitesmoke;
	width: 50%;
	padding: 7%;
	max-width: 400px;
	max-height: 200px;
	z-index: 2;
	position: relative;

	img {
		display: flex;
		width: 100%;
		max-width: 400px;
		height: auto;
	}
}

.animDisappear {
	animation-name: disappear;
	animation-duration: 0.32s;
	animation-timing-function: linear;
	animation-iteration-count: initial;

	@keyframes disappear {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(0);
		}
	}
}

#button_container {
	display: flex;
	height: 15%;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

#start_game_btn {
	font-family: "Cyrulik";
	font-size: 30px;
	width: 200px;
	height: 50px;
	border-style: none;
	border-radius: 10px;
	background-color: #ed6464;
	cursor: pointer;
	box-shadow: 5px -5px black;
}

@media screen and (max-width: 800px) {
	#welcome_logo {
		max-width: 150px;
		max-height: 70px;
	}

	#start_game_btn {
		width: auto;
		padding: 2px 15px;
		font-size: 20px;
		height: 40px;
	}
}

//
// win_item_screen
//

#win_item_screen {
	height: 100vh;
	background: linear-gradient(
		135deg,
		rgba(237, 121, 100, 1) 0%,
		rgba(133, 169, 157, 1) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#win_item_screen_btn {
	background-color: black;
	position: fixed;
	width: 40px;
	height: 40px;
	right: 20px;
	top: 20px;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
	z-index: 1;
}

#win_item_screen_btn:hover {
	cursor: pointer;
}

#win_item_screen_btn_background {
	background-color: yellow;
	position: fixed;
	width: 150px;
	height: 150px;
	right: 0%;
	top: 0%;
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	z-index: 1;
}

// win_item_screen_player

#win_item_screen_player {
	display: flex;
	width: 100%;
	height: 60%;
	align-self: center;
}

#wisp_container {
	display: flex;
	flex-direction: row;
	background-color: #85a99d;
	width: 100%;
}

#wisp_container_photo {
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: center;
}

#wisp_container_photo img {
	width: 70%;
	height: auto;
	object-fit: contain;
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

#wisp_container_text {
	width: 75%;
	display: flex;
	flex-direction: column;
	font-size: 7vw;
	justify-content: center;
	filter: drop-shadow(10px 10px whitesmoke);
}

#wisp_container_text p {
	margin: 0;
	color: whitesmoke;
	background-color: black;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	margin-right: 5%;
	width: fit-content;
}

#wisp_container_text span {
	font-size: 3vw;
}

// win_item_screen_divider

#win_item_screen_divider {
	display: flex;
	align-self: center;
	width: 100%;
	height: 10%;
	background: linear-gradient(
		178deg,
		#85a99d,
		#85a99d 50%,
		#ed7964 55%,
		#ed7964
	);
}

// win_item_screen_player

#win_item_screen_computer {
	display: flex;
	width: 100%;
	height: 35%;
	align-self: center;
}

#wisc_container {
	display: flex;
	flex-direction: row;
	background-color: #ed7964;
	width: 100%;
}

#wisc_container_photo {
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: center;
}

#wisc_container_photo img {
	width: 40%;
	height: auto;
	object-fit: contain;
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

#wisc_container_text {
	width: 75%;
	display: flex;
	flex-direction: column;
	font-size: 4vw;
	justify-content: center;
	filter: drop-shadow(10px 10px black);
}

#wisc_container_text p {
	margin: 0;
	color: black;
	background-color: whitesmoke;
	padding: 10px;
	padding-left: 20px;
	border-radius: 5px;
	margin-right: 5%;
	width: fit-content;
}

#wisc_container_text span {
	font-size: 2vw;
	padding-right: 20px;
}

// draw screen & small width screen

#drawScreen,
#smallWidthScreen {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #85a99d;
	top: 0;
	justify-content: center;

	img {
		display: flex;
		height: 100vh;
		position: absolute;
	}
}

#smallWidthScreen {
	z-index: 10;

	img {
		left: -70%;
	}
}

//
// Game lost/won screen
//

#win_lose_screen {
	min-height: 90vh;
	background: linear-gradient(
		15deg,
		rgba(237, 121, 100, 1) 0%,
		rgba(133, 169, 157, 1) 80%
	);
	display: flex;
	flex-direction: column;
	padding-top: 7vh;
	padding-bottom: 5vh;
	align-items: center;
	position: relative;
	z-index: 100;
}

#win_lose_info_container {
	height: 80vh;
	overflow: auto;
	position: absolute !important;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.6);
	width: 90%;
	padding: 2%;
	border-radius: 15px;
	z-index: 2;
	position: relative;

	p {
		font-size: 6vw;
	}

	h2 {
		font-size: 8vw;
		margin: 2% 0;
	}
}

#wlic_winLose {
	display: flex;
	justify-content: center;
}

#wlic_finalScores {
	display: flex;
	justify-content: space-evenly;
	height: 17vw;
}

#wlic_resetGame_btn {
	position: fixed;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 35px;
	z-index: 2;

	p {
		width: max-content;
		transform: rotate(-45deg);
		font-size: 25px;
		margin: 0;
	}
}

#wlic_resetGame_btn:hover {
	cursor: pointer;
}

#wlic_resetGame_btn_background {
	background-color: yellow;
	position: fixed;
	width: 150px;
	height: 150px;
	left: 0%;
	top: 0%;
	clip-path: polygon(0 0, 0% 100%, 100% 0);
	z-index: 2;
}

#wlic_wonItem_card {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 15px;
}

#wlic_wonItem_card_header {
	display: flex;
	flex-direction: row;
}

#wlic_wonItem_card_imgContainer {
	display: flex;
	width: 20%;
	align-items: flex-start;
	justify-content: center;

	img {
		display: flex;
		max-width: 80%;
		padding: 0 5%;
		object-fit: contain;
	}
}

#wlic_wonItem_card_info_title {
	display: flex;
	margin: 0;
	justify-content: center;
}

#wlic_wonItem_card_info {
	display: flex;
	width: 100%;
	flex-direction: column;
}

#wlic_wonItem_card_info_description {
	width: 100%;

	p {
		font-size: clamp(16px, 4vw, 24px);
		padding: 0 4%;
		white-space: pre-line;
	}
}
