#welcome_screen {
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome_logo {
  display: flex;
  width: 70%;
  height: 30%;
  align-self: center;
  background-color: red;
  margin-bottom: 20px;
}

#button_container {
  display: flex;
  width: 70%;
  height: 30%;
  align-self: center;
  background-color: red;
}
