#flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  background-color: red;
  height: 20%;
}

#body {
  background-color: blue;
  flex-grow: 1;
}

#footer {
  background-color: green;
  height: 20%;
}
